@model PaginatedList<ClassLibrary.Submission>

@{
    ViewData["Title"] = "Index";
}

<h1>All submissions</h1>

<p>
    <a asp-action="Create">Enter draw here!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Serial Number
            </th>
            <th>
                Full Name
            </th>
            <th>
                Email Address
            </th>
            <th>
                Age
            </th>
            <th>
                Wins
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wins)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.SerialNum">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>