@model ClassLibrary.Submission

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>
<body>
<div>
    <h4>Submission</h4>
    <hr />
    <div>
        @ViewBag.Message
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wins)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</body>